@model Indkøb.Models.TilføjVarer
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrer dine varer!</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/StyleSheet.css"/>
</head>
<body>
    <h5 class="bg-primary text-white text-center m-2 p-2">Indtast!</h5>
    <form asp-action="RegistrerIndkøb" method="post" class="m-2">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Name" class="form-label">Navn på varer</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Amount" class="form-label">Antal varer</label>
            <input asp-for="Amount" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="Category" class="form-label">Kategori</label>
            <select id="Category" name="Category" class="form-select">
                <option value="Frugt og grønt">Frugt og grønt</option>
                <option value="Mejeri">Mejeri</option>
                <option value="Brød">Brød</option>
                <option value="Konserves">Konserves</option>
                <option value="Frost">Frost</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Tilføj</button>
    </form>
</body>
</html>