@model Indkøb.Models.TilføjVarer
@{
    Layout = null;
}

<!DOCTYPE html>

 <html>
     <head>
         <meta name="viewport" content="width=device-width"/>
         <title>Tilføjet til listen</title>
         <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"/>
     </head>
     <body class="text-center">
         <div>
             <h1>Du har tilføjet: @Model?.Name - Antal stk. @Model?.Amount</h1>
         </div>
         Click <a asp-action="Tilføj">here</a> for at tilføje flere varer.
         Click <a asp-action="SlutListe">here</a> for at se hele listen.
     </body>
 </html>